# Update requirements.txt if this file changes:
# pip-compile requirements.in --generate-hashes --allow-unsafe --output-file requirements.txt
jsonschema==4.0.0
pyyaml==6.0.2
frictionless==4.40.11
tableschema-to-template==0.0.13
requests==2.32.3
pandas==2.3.2
