# Update requirements.txt if this file changes:
# pip-compile requirements.in --generate-hashes --allow-unsafe --output-file requirements.txt
frictionless==4.40.11
jsonschema==4.23.0
PyYAML==6.0.2
requests==2.32.3
tableschema-to-template==0.0.13
