# ${schema_name}

Related files:
${optional_doc_link_md}
- [📝 Excel template](${xlsx_url}): For metadata entry.
- [📝 TSV template](${tsv_url}): Alternative for metadata entry.
- [💻 Metadata schema](${metadata_source_url}): To update metadata fields.
- [💻 Directory schema](${directory_source_url}): To update directory structure.
${optional_description_md}
## Table of contents
${toc_md}
${optional_dir_description_md}
${concatenated_fields_md}