# ${schema_name}

Related files:
${optional_doc_link_md}
- [📝 Excel template](${xlsx_url}): For metadata entry.
- [📝 TSV template](${tsv_url}): Alternative for metadata entry.
- [💻 Metadata schema](${metadata_source_url}): To update metadata fields.
${optional_dir_schema_link_md}

${optional_description_md}

${optional_dir_description_md}

## Metadata schema

${current_version_md}
${previous_versions_md}