---
---

@import "minima";

body {
  font-size: 0.95rem;
  font-family: Inter Variable, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

header.site-header {
  background-color: rgb(68, 74, 101);
  border: none;
}

header .wrapper {
  background-color: transparent;
  color: #FFF;
  box-shadow: none;
}

.page-content {
  background-color: rgb(250, 250, 250);
}

.wrapper {
  background-color: #FFF;
  box-shadow: 
    0px 2px 1px -1px rgba(0,0,0,0.2),
    0px 1px 1px 0px rgba(0,0,0,0.14),
    0px 1px 3px 0px rgba(0,0,0,0.12)
}

a {
  color: rgb(55, 129, 209);
  text-decoration: none;
}

code {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 0.875rem;
}

th {
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #FFF !important;
}

tr {
  background-color: #FFF !important;
}