name: Portal CI

on: [push, pull_request]

jobs:
  build:

    # Available versions:
    # https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on
      
    # Uniprot's SSL setup is not sufficient for
    # the latest Ubuntu security settings.
    # So, use an older Ubuntu for now.
    #
    # More details:
    # https://github.com/ebi-uniprot/uniprot-rest-api/issues/23
    # https://github.com/Ensembl/ensembl-rest/issues/427
    runs-on: ubuntu-18.04

    strategy:
      matrix:
        version:
          - '3.9' # The Red Hat version used by IEC doesn't support anything more recent. :(
          # - '3.10' # ... but this repo should also work in modern environments!

          # TODO: Python 3.10 doesn't work for me, locally:
          # 'pip install requirements-dev.txt' fails...
          # Something wrong with typed-ast?
          # ... but if it works on CI, great!
          #
          # Python 3.9 does work for me locally:
          # Will wait for someone else to have trouble with 3.10 before investing any time here.

    steps:
    - uses: actions/checkout@v2
      # with:
      #   submodules: 'recursive'

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.version }}
        architecture: 'x64'

    - run: sudo apt-get install parallel
    - run: pip install -r requirements.txt
    - run: pip install -r requirements-dev.txt

    - name: Run test script
      run: ./test.sh
      # env:
      #   GH_ACTIONS_BRANCH: ${{ github.ref }}
      #   GH_ACTIONS: true
