name: Linters

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.13"]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        uses: py-actions/py-dependency-install@v4
        with:
          path: "requirements-dev.in"

      # Should respect .flake8 config
      - name: Flake8 Lint
        run: |
          flake8 src

      # Should respect pyproject.toml config
      - name: Black Lint
        run: |
          black --check --verbose src

      # Should respect pyproject.toml config
      - name: isort Lint
        run: |
          isort --check-only --diff src
